/* ================================= 
  Base Styles
==================================== */

:root {
	--mygray: rgba(85, 85, 85, .8);
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'League Spartan', sans-serif;
}
body {
	margin: 5%;
	background-color: rgb(245, 245, 245);
	
}
a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: var(--mygray);
}
li a:hover, a:active {
	color: white;
	background-color: var(--mygray);
}
ul a:hover, a:active {
	color: white;
	background-color: var(--mygray);
}
  
.nav-main {
	display: flex;
	flex-wrap: wrap;
	
}
.nav-name {
	font-size: 2.5em;
	margin-right: auto;
	color: var(--mygray);
	margin-bottom: 50px;
	
}

.nav-list {
	font-weight: bold;
	display: inline-flex;
	flex-wrap: wrap;
	color: var(--mygray);
	list-style-type: none;
	font-size: 1.1rem;
}
.nav-list li {
	padding: 1rem;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--mygray);
}
.intro {
	display: flex;
	flex-grow: 1;
	height: 20%;
	width: auto;
	
	/* background-color: aquamarine; */
}
.intro-text {
	width: auto;
	padding-right: 5%;
	font-size: 1.3rem;
	line-height: 1.3;
	color: var(--mygray);
	font-size: 1.7rem;
}
.intro-img {
	flex-basis: auto;
}
.container {
	display: flex;
}
.col {
	margin: 10px;
	/* flex-grow: 1; */
	color: white;
	text-align: center;
	flex-grow: 1;
	
}
.col img {
	height: 15vw;

}
.img-title {
	color: var(--mygray);
	/* margin: 10px 0 10px; */
}
.img-title h3 {
	font-size: 1.1em;
	margin: 10px;
}
.img-title p {
	font-size: .9em;
}
.portfolio,
.contact {
	color: var(--mygray);
	font-size: 1.2rem;
	text-align: center;
	text-transform: uppercase;
	margin-top: 100px;
	margin-bottom: 50px;
}

.footer,
.footer-text,
.footer-phone,
.footer-email {
	color: var(--mygray);
	font-size: 1.5rem;
	text-align: center;
	height: 10vh;
	width: 100%;
}
.footer-text {
	font-size: 1.5rem;
	
}

/* ================================= 
  Media Queries
==================================== */

@media (max-width: 319px) {
	header,
	main,
	footer {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		align-content: center;
		margin: auto;
	}

}

