/* ================================= 
  Base Styles
==================================== */
:root {
	--mygray: rgb(116, 116, 116);
}
* {
	box-sizing: border-box;
}
body {
	width: 90%;
	margin: 0 auto;
	font-family: 'League Spartan', sans-serif;
	color: var(--mygray);
	hyphens: auto;
}
main {
	width: 100%;
	margin: 0 auto;
}
img {
	width: 100%;
	padding: 0;
}
ul {
	padding: 0;
}

h3 {
	font-weight: 400;
	
}
p {
	font-weight: 300;
}



/* ================================= 
  Nav Bar
==================================== */

.header-main {
	display: block;
	text-align: center;
	margin: 5% auto;
	background-color: rgb(250, 250, 250);
}
header a,
.back-to-top {
	text-decoration: none;
	list-style-type: none;
	color: var(--mygray);
	font-weight: 700;
	margin-bottom: 30px;
}
.name {
	font-size: 1.5em;
	margin: 0;
	color: var(--mygray);
}
.nav li {
	font-size: .8em;
	background-color: rgb(248, 248, 248);;
	padding: 10px;
	margin: 5px;
	text-transform: uppercase;
	list-style-type: none;
}

/* ================================= 
  Main
==================================== */

.intro-img {
	width: 100%;
	margin: 0 auto;
}
.intro-text {
	line-height: 1.2;
}
.section {

	font-size: .8em;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	padding: 10px 0;
	
	
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	padding: 0;
	
}
.item-box {
	padding: 15px 0;
}

.item-title {
	font-size: 1.1em;
}
.item-description {
	margin: 5%;
}

.skills-img {
	width: 70%;
}
.skills p {
	text-align: center;
}
.skills-description {
	width: 90%;
}


/* ================================= 
  Footer
==================================== */

footer {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-top: 35px;

}
.footer-email {
	margin-bottom: 60px
}
.footer p {
	font-size: 1em;
	padding: 0 10%;
	margin: 5%;
}
.footer-nav a {
	list-style-type: none;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--mygray);
}
.footer-list {
	display: inline;
	text-align: right;
}
.footer-end ul {
	display: inline;
}

.contact {
	margin: auto;
	width: 90%;
	background-color: rgb(233, 232, 177);
	font-size: .8em;
	font-weight: 700;
	text-transform: uppercase;
	padding: 10px 0;
	box-shadow: 0 0 5px .1px;

}
.back-to-top {
	text-transform: uppercase;
	font-size: .5em;
	color: white;
	background-color: var(--mygray);
	text-align: right;
}
.footer-home,
.footer-portfolio,
.footer-skills,
.footer-contact {
	display: none;
}
.footer-nav {
	display: inline;
}
.footer-text {

}
/* ================================= 
 Media Queiries
==================================== */
@media (min-width: 768px) {
	

	h1 {
		text-align: center;
	} 
	.nav {
			display: flex;
			justify-content: center;
			width: 100%;
	}
	.name {
		margin-right: auto;
	}
	.nav-list {
		justify-content: flex-end;
	}
	.header-main {
		text-align: left;
		margin: 5% auto;
		background-color: rgb(250, 250, 250);
	}
	.intro {
		display: flex;
		/* width: 100%; */
	}
	.intro-img {
		order: 2;
		width: 100%;
	}
	.intro-text {
		font-size: 1.5rem;
		padding-right: 3% ;
	
	}
	.container {
		display: flex;
		flex-wrap: wrap;
		flex-basis: 50%;
		justify-content: center;
	}
	.item {
		width: 50%;
	}
	.item img{
		width: 100%;
	}
.footer-home,
.footer-portfolio,
.footer-skills,
.footer-contact {
	display: inline;
}
.footer-back-top {
	display: none;
}	
}

@media (min-width: 1024px) {
	h1 {
		text-align: left;
	} 
	.nav {
		width: 100%;
	}
	nav ul {
		justify-content: flex-end;
	}
	.name {
		margin-right: auto;
	}
	.nav-list {
		/* justify-content: flex-end; */
	}
	.header-main {
		text-align: left;
		margin: 5% auto;
		background-color: rgb(250, 250, 250);
	}
	.intro {
		display: flex;
		width: 100%;
	}
	.intro-img {
		order: 2;
	}
	.intro-text {
		font-size: 1.5rem;
	}
	.container {
		display: flex;
		flex-wrap: wrap;
		flex-basis: 50%;
		justify-content: center;
	}
	.item {
		width: 33%;
	}
	.item img{
		width: 100%;
	
	}
}